.about-us__sub-title {
   color: var(--sub-text-color);
}

.about-us__text {
    color: aquamarine;
}

.cards__contact {
    border: 1px solid salmon;
}

.cards__contact.selected {
    background-color: red;
}